/**
 * Post Moderation Messages
 *
 * @author   Luiz Felipe F. <https://lffg.github.io>
 * @version  1.0.1
 */

.mod-action {
  background-color: #39c;
  border: solid 2px #39c;
  color: #fff;
  border-radius: 2px;
  margin: 1em 25px 1em 1em;
  padding: 15px;
  display: block;
}

.mod-action tbody > tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mod-action tbody > tr > td.icon {
  font-size: 25px;
  margin-right: 15px;
}

.mod-action h2,
.mod-action h3,
.mod-action h4 {
  color: inherit;
  font-size: 1.2em;
  margin-bottom: .4em;
}

.mod-action h2 + br,
.mod-action h3 + br,
.mod-action h4 + br,
.mod-action h2 + br + br,
.mod-action h3 + br + br,
.mod-action h4 + br + br {
  display: none;
}

.mod-action a {
  color: inherit;
  text-decoration: underline;
}

.mod-action a:hover {
  color: #eee;
}

.mod-action.adm,
.mod-action.danger {
  border-color: #EF3333;
  background-color: #EF3333;
}

.mod-action.mod,
.mod-action.success {
  border-color: #68B800;
  background-color: #68B800;
}

.mod-action.aju,
.mod-action.warning {
  border-color: #F5AE42;
  background-color: #F5AE42;
}

.mod-action.art {
  border-color: #787DEA;
  background-color: #787DEA;
}

.mod-action.pub {
  border-color: #00B5D1;
  background-color: #00B5D1;
}
